<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>BookShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>Encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>placeOrders</servlet-name>
    <servlet-class>com.placeOrders.PlaceOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>placeOrders</servlet-name>
    <url-pattern>/placeOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>secondLogin</servlet-name>
    <servlet-class>com.login.SecondLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondLogin</servlet-name>
    <url-pattern>/quit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Orders</servlet-name>
    <servlet-class>com.orders.insertOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Orders</servlet-name>
    <url-pattern>/inserted</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertOrders</servlet-name>
    <servlet-class>com.orders.InsertOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOrders</servlet-name>
    <url-pattern>/insertOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Shoppingcart</servlet-name>
    <servlet-class>com.orders.Shoppingcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shoppingcart</servlet-name>
    <url-pattern>/shoppingcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveOrders</servlet-name>
    <servlet-class>com.orders.RemoveOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveOrders</servlet-name>
    <url-pattern>/removeOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateGoods</servlet-name>
    <servlet-class>com.administrator.UpdateGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateGoods</servlet-name>
    <url-pattern>/updategoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateOrders</servlet-name>
    <servlet-class>com.administrator.UpdateOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrders</servlet-name>
    <url-pattern>/updateOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Administrators</servlet-name>
    <servlet-class>com.administrator.Administrator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administrators</servlet-name>
    <url-pattern>/administrator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdministratorOrders</servlet-name>
    <servlet-class>com.administrator.AdministratorOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorOrders</servlet-name>
    <url-pattern>/administratorOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdministratorBook</servlet-name>
    <servlet-class>com.administrator.AdministratorBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministratorBook</servlet-name>
    <url-pattern>/administratorBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchGoods</servlet-name>
    <servlet-class>com.orders.SearchGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGoods</servlet-name>
    <url-pattern>/searchGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Xiangqing</servlet-name>
    <servlet-class>com.orders.Xiangqing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Xiangqing</servlet-name>
    <url-pattern>/xiangqing</url-pattern>
  </servlet-mapping>
</web-app>